mixin nav(className, items, activeItem)
  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each val, key in items
        li(class=`${className}__item` + ( (val === activeItem) ? ` ${className}__item_active` : '') )
          a(class=`${className}__link` href='#' + val)= key

mixin skill(name, persentage)
  li.skills__item
    .skills__item-name
      span=name
    svg.persentage(viewBox='0 0 100 100' preserveAspectRatio='none')
      circle.circle.circle-under(cx='50' cy='50' r='40')
      circle.circle.circle-above(cx='50' cy='50' r='40' style='animation-delay: -' + `${persentage}` + 's')

mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className, alt)
  img(src=require(`images/${path}`) class=className alt=alt)
    
mixin image-adaptive(path1, path2, className, alt)
  img(src=require(`images/${path1}`) class=className alt=alt srcset=require(`images/${path2}`) + ' 1280w, ' + require(`images/${path1}`) + ' 1920w' sizes='(max-width: 1280px) 1280px, 1920px')
